.banner_content{
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_content h2{
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  font-style: 32px;
  color: #fff;
}